body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, sans-serif;
    background-color: #b1afaf;
    padding: 20px;
}

.container {
    background-image: url("./img/pared.jpg");
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    color: rgb(158, 219, 230);
}

label {
    display: block;
    margin: 10px 0 5px;
    color: rgb(101, 233, 41);
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background: #96b99e;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background: #645959;
}
